<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="service" target="SYSTEM_OUT">
      <PatternLayout pattern="service-log: %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
	<Console name="controller" target="SYSTEM_OUT">
      <PatternLayout pattern="controller-log: %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
	<Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="console-log: %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
	  <Logger name="uk.gov.cshr.vcm.controller" level="debug" additivity="false">
		  <AppenderRef ref="controller" />
	  </Logger>
      <Root level="trace" >
		<AppenderRef ref="console"/>
	  </Root>
  </Loggers>
</Configuration>
